<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TeamName %><br />
    <%= f.text_field :TeamName %>
  </div>
  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :City %>
  </div>
  <div class="field">
    <%= f.label :Championships %><br />
    <%= f.number_field :Championships %>
  </div>
  <div class="field">
    <%= f.label :Player_id %><br />
    <%= f.number_field :Player_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
