<h1>Listing teams</h1>

<table>
  <tr>
    <th>Teamname</th>
    <th>City</th>
    <th>Championships</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.TeamName %></td>
    <td><%= team.City %></td>
    <td><%= team.Championships %></td>
    <td><%= team.Player_id %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
